@import 'sweetalerts';


html, body {
    $secondary: #aeb2b6;
    background-color: $secondary;
    overflow: hidden;
    height: 100%;
}

.prayerTimesContainer {
    font-size: 3em;
}

#moreInfo {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 780px) {
    html, body {
        overflow: auto !important;
    }

    .prayerTimesContainer {
        font-size: 1.4em !important;
    }
}