@import url(https://fonts.googleapis.com/css?family=Raleway);
html,
body {
  background-color: #cab7a2;
  margin: 0;
  padding: 0;
}

.__nav {
  position: fixed;
  width: -webkit-fill-available;
  background-color: #858786a9;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.39) 0 0 5px 5px;
}

footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: #b4ada3;
}
footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;
}
footer .social a:hover {
  background-color: #222;
  transition: all 0.3s;
}

.face {
  background-color: #3d5b94;
  font-size: 1.2em;
  width: 30%;
}

.tweet {
  background-color: #3dacdd;
  font-size: 1.2em;
  width: 30%;
}

.support {
  background-color: #6dcd9a;
  font-size: 0.8em;
  width: 40%;
}

.__dropdown_btn {
  border-radius: 0;
}

.__nav_right {
  float: right;
}

.__btn {
  border-radius: 0;
  margin: 0 !important;
  padding: 1.1vw;
}

.__nav_left {
  float: left;
}

.__container {
  background-color: #b4ada3c5;
  width: -webkit-fill-available;
  margin: 4% 5%;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.274) 0 0 5px 5px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  top: 89%;
  position: fixed;
}

.__container p {
  margin-left: 2%;
}
